@import url(normalize.css);

body,html{
	height: 100%;
}
h1 {
	margin:0;
}
header {
	background-image: url("sky.jpeg");
	height: 100vh;
	background-size: cover;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:white;
	font-size: 35px;
	font-family: 'Ubuntu', sans-serif;
}
p{
	max-width: 600px;
	margin: 0 auto 20px;
}