.container-fuild {
	background-color: #F5F7FA;
	height: 850px;
}
.sag {
	
	margin-right: 20px;
	background-color: white;
	height: 850px;
}
.sol {
	background-color: white;
	height: 850px;
	margin-left: 250px;
	margin-right: 15px;

}